.logo {
  width: 180px;
  height: 65px;
  padding: 10px;
  margin-right: 100px;
}

.container {
  width: 100%;
}

.header_list {
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 80%;
}

.header_list li {
  margin-right: 15px;
  font-size: 1.1rem;
  font-weight: bolder;
  justify-content: space-between;
}

.header_list a {
  color: #fff;
}
