.linechart{
    background-color: #E60000;
    border-radius: 5px;
    position: relative;
}
.linechart::before{
    content:"Durée moyenne des saissions";
    position:absolute;
    top:30px;
    left:30px;
    width: 50%;
    color:white;
    font-weight: 700;
    opacity: 0.8;
}
/* @media (max-width: 1024px) {
    .linechart::before {
      width: 100%;
      top: 5px;
      left: 5px;
    }
  } */
.toolTip{
    background: #E60000;
    padding: 5px;
    color: white
}
/* .chart-graph{
    @media (max-width:1024px) {
        width: 180px;
        height: 180px;
    }
} */