.footer{
    width: 7%;
    height: 100vh;
    position: absolute;
    top:65px;
    bottom:0;
    left:0;
    height: 110vh
}

.footer p{
    color:white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 5px;
    margin-left: 30%;
    font-size: 0.8rem;
    padding-top: 70px;
    padding-bottom: 70px;
}
.footer img{
    display: block;
    width: 64px;
    height: 64px;
    padding: 5px;
}