.recharts-bar{
    position: relative;
    background-color: #FBFBFB;
    margin-bottom: 40px;
    margin-top:60px;
    border-radius: 5px;
    /* @media (max-width:1024px){
        margin-top:20px;
    } */
}
.recharts-bar::before{
    content:'Activité quotidienne';
    color:black;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top:5px;
    left:10px;
}
.chart-container{
    width: 100%;
}