.recharts-bar{
    position: relative;
}
.recharts-bar::before{
    content:'Activité quotidienne';
    color:black;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    top:20px;
    left:20px;
}
@media (min-width:1024) and  (max-width:1270){
    .recharts-bar{
        width: 600px;
    }
}