@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@100&display=swap");
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.flex {
  display: flex;
  align-items: center;
}
.dark {
  background-color: #020203;
}
main {
  margin-left: 150px;
}
h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 48px;
}
.colorRed {
  color: #e60000;
}
.margin {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 20%;
}
.container_main {
  display: flex;
  justify-content: space-around;

}
.container_verti{
  width: 80%;
}
.paragraphe{
  margin-bottom: 50px;
}

